

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
     display: flex;
      align-items: center;
      justify-content: center;
    overflow: hidden;
        // Kontener na film w tle
  &-video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    .hero-video {
      width: 100%;
      height: 100%;
      object-fit: cover; 
    }
    // Półprzezroczysta nakładka
    .hero-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.471);
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 16px;

  }
    h1 {
        z-index: 2;
        width: 100%;
        position: relative;
        top: 2.2cap;
        left: 50%;
        margin: 0;
        color: $navbar-text;
        transform: translate(-50%, -50%);
        font-size: clamp(1.9rem, 5vw, 2.5rem);
        opacity: 0; 
        animation: slideIn 1s ease-out 0.4s forwards;
        };
    input {
        z-index: 2;
        width: clamp(100px, 70%, 200px);
        padding: 1px;
        background-color: $secondary;
        border: none;
        color: black;
        font-size: 14px;
        }
}

@keyframes slideIn {
    0% { transform: translate(-50%, -50%); opacity: 0; } 
    100% { transform: translate(-50%, -50%);  opacity: 0.8; } }



