.slider-img {
    .cloud {
        width: 100%;
        margin: 0;
        height: auto;
    }
    .cowboy-img {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    margin-top: -1px;
    
        img {
             width: 100%;
             height: 100%;
             object-fit: cover;
        }

        &:after {
        background: 
            linear-gradient(0deg, rgba(70, 70, 70, 0.2), rgba(70, 70, 70, 0.1)), linear-gradient(180deg, #464646 1.06%, rgba(102, 102, 102, 0) 20%);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
  }
}

.hero {
    position: relative;
    overflow: hidden;
    margin-top: -1px;
    h1 {
        width: 100%;
        position: absolute;
        top: 45%;
        left: 50%;
        color: $navbar-actice-text;
        transform: translate(-50%, -50%);
        font-size: clamp(2rem, 5vw, 3.5rem);
        opacity: 0; 
        animation: slideIn 2s ease-out 0.4s forwards;
        };
    input {
        width: 400px;
        position: absolute;
        padding: 14px;
        margin-top: 20px;
        background-color: $secondary;
        border: none;
        color: black;
        font-size: 14px;
        animation: slideInInput 2s ease-out 0.4s forwards;
        }
        button {
            position: absolute;
            background-color: $navbar-bg;
            animation: slideInButton 0.8s ease-out 0.4s forwards;
            a {
                 color: $navbar-text;
                 
            }
            &:hover{
                border-color: $navbar-actice-text;
            }
        }
}

@keyframes slideIn {
    0% { transform: translate(0%, -50%); opacity: 0; } 
    100% { transform: translate(-50%, -50%);  opacity: 0.8; } }

@keyframes slideInInput {
    0% { transform: translate(-350%, -700%); opacity: 0; } 
    100% { transform: translate(-50%, -700%); opacity: 0.8; } }
    
@keyframes slideInButton {
    0% { transform: translate(-50%, -500%); opacity: 0; } 
    100% { transform: translate(-50%, -500%); opacity: 1; } }

