$primary: #FAFAFA;
$secondary: #F4F1EA;
$additional: orange;
$main-typography: #1A1A1A;
$action: #364cb8;
$secondarya-ction: #2E5A88;
$icons: #455A64;
$icons-active: #E65100;
$navbar-bg: #1976d2;
$navbar-text: #d49800;
$navbar-actice-text: #e3c3b2;
